<div id="restrictions">
<form id="restrictions">
  <label for="allergies" id="allergies-signup">
    Do you have any of these allergies?
    <br/>
    {{#each allergies as |allergy|}}
      <label>
        <input
          type="checkbox"
          name="{{allergy}}"
          value="{{allergy}}"
        />{{allergy}}</label><br />
    {{/each}}

  </label>

  <label for="diet" id= "diets-signup">
    Are you on any of these diets?
    <br/>
    {{#each diets as |diet|}}
      <label>
        <input
          type="checkbox"
          name="{{diet}}"
          value="{{diet}}"
        />{{diet}}</label><br />
    {{/each}}
    </select>
  </label>

  <label for="cuisine" id="cuisine-signup">
    What are your favorite types of cuisine?
    <br/>
    {{#each cuisine as |cuisine|}}
      <label>
        <input
          type="checkbox"
          name="{{cuisine}}"
          value="{{cuisine}}"
        />{{cuisine}}</label><br />
    {{/each}}
  </label>
        <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
</form>
</div>

<script src="./js/restrictions.js"></script>