<div id="restrictions">
<form id="restrictions">
  <label for="allergies" >
    🌿  Do you have any of these allergies?
    <br/>
    {{#each allergies as |allergy|}}
      <label>
        <input class="allergies-signup" id="allergies-signup"
          type="checkbox"
          name="{{allergy}}"
          value="{{allergy}}"
        />{{allergy}}</label><br />
    {{/each}}

  </label>

  <label for="diet">
    🌿 
    Are you on any of these diets?
    <br/>
    {{#each diets as |diet|}}
      <label>
        <input  class= "diets-signup" id="diets-signup"
        {{!-- add userId as hidden input --}}
          type="checkbox"
          name="{{diet}}"
          value="{{diet}}"
        />{{diet}}</label><br />
    {{/each}}
    </select>
  </label>

  <label for="cuisine">
    🌿  What are your favorite types of cuisine?
    <br/>
    {{#each cuisine as |cuisine|}}
      <label>
        <input  class="cuisine-signup" id="cuisine-signup"
          type="checkbox"
          name="{{cuisine}}"
          value="{{cuisine}}"
        />{{cuisine}}</label><br />
    {{/each}}
  </label>
        <div class="form-group">
        <button class="btn btn-primary" type="submit" id = "submitButton">Submit</button>
      </div>
</form>
</div>

  <script src="/js/restrictions.js"></script>