<form>
  <label for="allergies">
    Do you have any of these allergies?
    <br/>
    {{#each allergies as |allergy|}}
      <label>
        <input
          type="checkbox"
          name="{{allergy}}"
          value="{{allergy}}"
        />{{allergy}}</label><br />
    {{/each}}

  </label>
</form>
<form>
  <label for="diet">
    Are you on any of these diets?
    <br/>
    {{#each diets as |diet|}}
      <label>
        <input
          type="checkbox"
          name="{{diet}}"
          value="{{diet}}"
        />{{diet}}</label><br />
    {{/each}}
    </select>
  </label>
</form>
<form>
  <label for="cuisine">
    What are your favorite types of cuisine?
    <br/>
    {{#each cuisine as |cuisine|}}
      <label>
        <input
          type="checkbox"
          name="{{cuisine}}"
          value="{{cuisine}}"
        />{{cuisine}}</label><br />
    {{/each}}
  </label>
</form>